* {
    box-sizing: border-box;
}
body {
    margin: 0;
}
.header {
    display: flex;
    align-items: center;
    padding: 16px;
    justify-content: space-between;
    flex-basis: 100%;
    max-height: 50px;
}
.nav a {
    text-decoration: none;
    color: black;
    padding: 0 5px;
    
}
.nav {
    display: flex;
    
}
.nav-back {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #FFD29D;
    padding: 20px; 
    display: flex; 
}
.hero-image {
    background-image: url("../Images/Screenshot\ 2024-03-05\ 193959.png");
    min-height: 761px;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.hero-text {
    max-width: 1032px;
    padding: 62px 0;
    color:antiquewhite;
    flex-basis: 100%;
}

.btn {
    text-align: center;
    background-color:#A41623;
    width: 150px;
    padding: 5px 10px;
    color:white;
    font-size:25px;
    margin:auto;
    border-radius: 10px;
    text-decoration: none;
}
.container {
    background-color: #FFD29D;
    flex-basis: 100%;
    display:flex;
    padding: 50px;
    margin-top: 0%;
    margin-right: auto;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    max-width: 1000px;

   }

   .text-back {
   background-color: #FFD29D;
   }

   .container-dishes{
    max-width: 1920px;
    margin: 0 auto;
    background-color: #FFB563;
    padding: 20px;
    text-align: center; 
    display: flex;
    justify-content: center;

   }

    .container-footer {
        max-width: 1920px;
        margin: 0 auto;
        background-color: #FFB563;
        padding: 30px;
        text-align: left; 
        display: flex;
        justify-content: center;

       
    }   
    .container-footer a {
      text-decoration: none;
      padding-left: 10px;
      padding-right: 10px;

    }

   .font {
       font-family: "interstate-mono", monospace;
       font-weight: 400;
       font-style: normal;
       font-size: 25px;
   }
   .font-red {
    font-family: "interstate-mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-align: center;
}
.font-alt {
    font-family: "interstate-mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    text-align: left;
}
   .font-footer {
    font-family: "interstate-mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
}


.red-container {
    background-color:#A41623;
    color: white;
    width: 1520px;
    height: 90px;
    padding: 10px;
}
.red-border {
border: 20px #A41623 solid;
border-radius: 5px;
text-align: center;
}
.image {
    border-radius: 10px;
    margin: 20px;
}
.cater {
    background-color: #A41623;
    text-align: center;
    color: aliceblue;
    padding-top: 10px;
    padding-bottom: 10px;

}
.cater h1 {
    margin: 0;
}
.icon {
   align-items: right; 
   justify-content: space-between;
   display: flex;
}
.space {
    padding-left: 10px;
    padding-right: 10px;
}